<!DOCTYPE html>

<html>
    <head>
        <title>Students</title>

        <style>
            
        </style>
    </head>

    <body class ="bg-info">
        <div id = 'box'>
            {{{body}}}

        </div>

    </body>

    <footer>
        <input type = "text" ID="Searchbar">

    </footer>
</html>