<!DOCTYPE html>

<html>
    <head>
        <title>Students</title>

        <style>
            
        </style>
    </head>

    <body class ="bg-info">
        <div id = 'box'>
            {{{body}}}

        </div>

    </body>
</html>