extends layout
block content 

    h3 Login Screen 
    form(method="POST")
        |User: 
        |
        input(name="userName")
        br
        |Password: 
        input(name="passWord")
        br
        br
        input(type="submit" value="Login")
    br
    br
    br
    