extend layout 
block content 


    <h3> Monty Python Quiz</h3>


    <h1>Question 1</h1>
    <h3>"What is the main character's name?</h3>
    
    <input type = "radio" id="Question1Answer1"/>
    <Label>King Arthur</Label>

    <input type = "radio" id="Question1Answer2"/>
    <Label>The Black Knight</Label>

    <input type = "radio" id="Question1Answer3"/>
    <Label>Galahad</Label>

    <!-- Next Question -->

    <h1>Question 2</h1>
    <h3>"What does the French Taunter launch towards the Knights of The Round Table?"</h3>
    
    <input type = "radio" id="Question2Answer1"/>
    <Label>Animals</Label>

    <input type = "radio" id="Question2Answer2"/>
    <Label>Sticks</Label>

    <input type = "radio" id="Question2Answer3"/>
    <Label>The Holy Grail</Label>

    <!-- Next Question -->

    <h1>Question 3</h1>
    <h3>"What did the Knights of The Round Table use to defeat the Rabbit of Caerbannog?"</h3>
    
    <input type = "radio" id="Question3Answer1"/>
    <Label>Holy Hand Grenade</Label>

    <input type = "radio" id="Question3Answer2"/>
    <Label>The Holy Grail</Label>

    <input type = "radio" id="Question3Answer3"/>
    <Label>King Arthur's mighty Sword</Label>

    <!-- Next Question -->

    <h1>Question 4</h1>
    <h3>How can you tell a witch is a witch?</h3>
    
    <input type = "radio" id="Question1Answer1"/>
    <Label>They have a terrible nose</Label>

    <input type = "radio" id="Question1Answer2"/>
    <Label>They have green skin</Label>

    <input type = "radio" id="Question1Answer3"/>
    <Label>They weigh as much as a duck</Label>

    <!-- Next Question -->

    <h1>Question 5</h1>
    <h3>Who was the first to join King Aurthur's knights?</h3>
    
    <input type = "radio" id="Question5Answer1"/>
    <Label>The wise Sir Bedevere</Label>

    <input type = "radio" id="Question5Answer2"/>
    <Label>The Knights who say Ni!</Label>

    <input type = "radio" id="Question5Answer3"/>
    <Label>Sir Galahad the Pure</Label>

    <!-- Next Question -->

    <h1>Question 6</h1>
    <h3>What word cannot be said by the Knights who say Ni?</h3>
    
    <input type = "radio" id="Question1Answer1"/>
    <Label>It</Label>

    <input type = "radio" id="Question1Answer2"/>
    <Label>Rattlesnake</Label>

    <input type = "radio" id="Question1Answer3"/>
    <Label>Snake</Label>

    <!-- Next Question -->

    <h1>Question 7</h1>
    <h3>Why did King Arthur leave Camelot?</h3>
    
    <input type = "radio" id="Question7Answer1"/>
    <Label>He was kicked out</Label>

    <input type = "radio" id="Question7Answer2"/>
    <Label>Camelot is a silly place</Label>

    <input type = "radio" id="Question7Answer3"/>
    <Label>Everyone's horse suddenly died</Label>
     <!-- Next Question -->

    <h1>Question 8</h1>
    <h3>What is Lancelot's favorite color?</h3>
    
    <input type = "radio" id="Question1Answer1"/>
    <Label>Blue</Label>

    <input type = "radio" id="Question1Answer2"/>
    <Label>Red</Label>

    <input type = "radio" id="Question1Answer3"/>
    <Label>Black</Label>
     <!-- Next Question -->

    <h1>Question 9</h1>
    <h3>How does the Black Knight respond to getting his arms cut off?</h3>
    
    <input type = "radio" id="Question1Answer1"/>
    <Label>You've unhanded me!</Label>

    <input type = "radio" id="Question1Answer2"/>
    <Label>My stance does not falter!</Label>

    <input type = "radio" id="Question1Answer3"/>
    <Label>Tis but a scratch!</Label>
     <!-- Next Question -->

    <h1>Question 10</h1>
    <h3>Why does Sir Galahad miss out on a good time at Castle Anthrax?</h3>
    
    <input type = "radio" id="Question1Answer1"/>
    <Label>The girls inside are evil</Label>

    <input type = "radio" id="Question1Answer2"/>
    <Label>He finds the grail</Label>

    <input type = "radio" id="Question1Answer3"/>
    <Label>He is rescued by the Knights</Label>
     <!-- Next Question -->
    <br>

    form(method="POST")
        input(type="submit" value="Login")








