this displays list of students as a <table></table>
<h3><a class="btn" href= "/student">Create New</a>Student List </h3>
<table class = "table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.Username}}</td>
            <td>{{this.Points}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>